@model RentACar.Models.CarRental.RentManager

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLastName)
        </dd>

    </dl>
</div>
<div class="margin-top-20">
    @Html.ActionLink("Back to List", "Index", "Home")
</div>